body{
    text-align: center;
}
.main-section{
    display: flex;
}
#java__footer {
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}
.java{
    flex-basis: 40%;
    border: 1px solid rgb(208, 212, 208);
    margin: 20px;
}